<%- include('../partials/header.ejs') %>

<ul>
    <li><%= foundUser.username %></li>
    <li><%= foundUser.phoneNo %> </li>
    <li> <%= foundUser.gender %> </li>
    <li> <%= foundUser.cgpa %></li>
</ul>

<%- include('../partials/footer.ejs') %>